name: Build Android APK

on:
  workflow_dispatch:
  push:
    branches: [ "main" ]
    paths:
      - 'Android/**'
  pull_request:
    branches: [ "main" ]
    paths:
      - 'Android/**'

jobs:
  build_apk:
    name: Build Android APK
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./Android/src
    steps:
      - name: Checkout the source code
        uses: actions/checkout@v3
      
      - name: Set up JDK 21
        uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'
      
      - name: Setup Gradle
        uses: gradle/actions/setup-gradle@v3
        with:
          cache-read-only: false
      
      - name: Make gradlew executable
        run: chmod +x ./gradlew
      
      - name: Build Release APK
        run: ./gradlew assembleRelease --stacktrace
      
      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: app-release
          path: Android/src/app/build/outputs/apk/release/app-release-unsigned.apk
          if-no-files-found: error
